
@@ -1,6 +1,40 @@
{% extends "base.html" %}
<!DOCTYPE html>
{% block title %}Homepage{% endblock %}
<html lang="en">
{% block bodyblock %}
<head>
  <style>
  .topnav {
    background-color: #160175;
    overflow: hidden;
  }
  .topnav h1 {
    font-family: sans-serif;
    color: #ffffff;
    overflow: hidden;
  }
  .topnav a {
    font-family: sans-serif;
    color: #b5b5b5;
    overflow: hidden;
  }
  .topnav a:hover {
    font-family: sans-serif;
    color: #c6c6c6;
    overflow: hidden;
  }
  p {
    font-family: sans-serif;
  }
  </style>
  <title>Local_Kings - Homepage</title>
</head>
<body>
  <div class="topnav">
    <h1>Local_Kings</h1>
    <a href="index.html">Homepage</a>
    <a href="projects.html">Projects</a>
    <a href="contactme.html">Contact me</a>
  </div>
  <p>Hello everyone, I'm Local_Kings!</p>
  <p>I'm a teen who codes in Python and Java. Also I own a guild "Warriors of Aintia" in the upcoming game platform Brick Planet!</p>
  <p>I plan on updating the website sometime.</p>
{% endblock %}
</body>
</html>
